
btn()
  width 240px
  padding 12px
  background #eee
  cursor pointer

icons(size)
  i, b
    display inline-block
    background-size cover
    width size
    height size
  i
    background url(/skull.svg)
  b
    background url(/circle.svg)

body
  width 542px
  margin 0 auto

#main
  .back
    btn()
    float left
    margin 12px 0
  .hint
    btn()
    float right
    margin 12px 0
  #game
    clear both

#levels
  div
    btn()
    icons(20px)
    margin 12px 0
    line-height 0


#list
  .new
    btn()
    clear both
    margin 12px 0
  .game
    margin 26px
    float left
    &:nth-child(3n+1)
      margin-left 0
    &:nth-child(3n+3)
      margin-right 0
    .diff
      padding 4px 0
      text-align center
      icons(14px)
