
btn()
  width 240px
  padding 12px
  background #eee
  cursor pointer

body
  width 542px
  margin 0 auto

.back
  btn()
  margin 12px 0 0

#list
  .new
    btn()
    clear both
    margin 12px 0
  .game
    margin 26px
    float left
    &:nth-child(3n+1)
      margin-left 0
    &:nth-child(3n+3)
      margin-right 0
    .diff
      padding 4px 0
      text-align center
      i, b
        display inline-block
        background-size cover
        width 14px
        height 14px
      i
        background url(/skull.svg)
      b
        position relative
      b:after
        position absolute
        top -1px
        left 5px
        content '•'

