
btn()
  width auto
  font-size 24pt
  background hsl(151, 68%, 88%)
  border 4px solid hsl(151, 68%, 50%)
  border-radius 8px
  text-align center
  margin 8px
  padding 4px 0

icons(size)
  i, b
    display inline-block
    background-size cover
    width size
    height size
  i
    background url(/skull.svg)
  b
    background url(/circle.svg)

_triangle(size)
  content ''
  position absolute
  top 0
  width 0px
  height 0px
  border-style solid

triangleAfter(size)
  position relative
  &:after
    _triangle(size)
    right -1 * size
    border-width size size 0 0
    border-color #ccc transparent transparent transparent

triangleBefore(size)
  position relative
  &:before
    _triangle(size)
    left -1 * size
    border-width 0 0 size size
    border-color transparent transparent #ccc transparent

html, body
  margin 0
  padding 0

body
  font-family 'Gill Sans', sans-serif
  background-image url(/background.jpg)
  animation slide 10s infinite
  animation-timing-function linear
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden

#slider
  width 320px
  height 276px
  .game
    width 146px
    margin 52px auto
    .diff
      padding 4px 0
      text-align center
      icons(14px)

#indicator
  icons(14px)
  text-align center
  b
    opacity 0.4
    transition opacity 220ms
  b.active
    opacity 0.8

h1
  background #ccc
  margin 20px 0
  padding 0 12px 0 20px
  display inline-block
  line-height 50px
  clear both
  triangleAfter(50px)

.btn
  width 130px
  margin 0 0 10px
  line-height 35px
  background #ccc
  text-align center
  triangleAfter(35px)

#levels
  div
    icons(20px)
    width 130px
    margin 0 0 24px
    line-height 35px
    background #ccc
    text-align center
    triangleAfter(35px)
    i, b
      vertical-align -5px

#game
  transform-origin 0 0
  transform scale(0.5)
  margin 24px auto
  width 270px

.touch-ctrl
  transform scale(0.5)
  box-shadow 0px 0px 80px black

#menu, #load, #levels, #main
  position absolute
  top 0
  left 0
  width 320px
  height 440px
  overflow hidden
  &.hide
    pointer-events none
    h1
      transform translateX(-400px)
  h1, div, .new, #game, #slider, #indicator
    transition transform 660ms

#menu.hide
  .btn
    transform translateX(-600px)

#load.hide
  #slider, #indicator
    transform translateY(500px)

#levels.hide
  div:nth-child(2)
    transform translateX(-300px)
  div:nth-child(3)
    transform translateX(-600px)
  div:nth-child(4)
    transform translateX(-900px)
  div:nth-child(5)
    transform translateX(-1200px)
  div:nth-child(6)
    transform translateX(-1500px)

#main.hide
  #game
    transform translateY(500px)

.leftright
  overflow hidden
  .btn
    float left
    width 138px
    text-align center
    line-height 35px
    background #ccc
  .btn:nth-child(1)
    triangleAfter(35px)
    margin 0 44px 0 0
  .btn:nth-child(2)
    triangleBefore(35px)

.hide
  .leftright
    .btn:nth-child(1)
      transform translateX(-600px)
    .btn:nth-child(2)
      transform translateX(600px)

@keyframes slide
  0%
    background-position 0 0
  100%
    background-position -1082px -1082px
